body {
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color: white;
}

/*header*/
h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 700;
}

/*navigation styles*/
h2 {
  font-size: 24px;
  font-weight: 700;
  padding: 10px;
}

header {
  font-family: "Archivo Black", sans-serif;
  font-size: 20px;
}

header:hover header:focus {
  text-decoration: none;
  color: #ffd700;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  top: 0;
  right: 0;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  padding: 10px;
}

/*button styles*/
a {
  color: #000;
  text-decoration: none;
}

a:visited,
a:active {
  color: #000;
}

a:hover,
a:focus {
  color: #ffd700;
}

button {
  border: none;
  font-family: "Archivo Black";
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 15px;
  border-bottom: 2px solid rgb(0, 0, 0);
  transition: background-color 1s, transform 2.25s;
}

button:hover,
button:focus {
  background-color: #ffd700;
  color: #000;
  text-decoration: none;
}

button:focus {
  background-color: #ffd700;
  color: black;
}

/*about text styles */
.about {
  min-width: 200px;
  max-width: 700px;
  border: 15px;
  padding: 20px;
  margin: 1px;
  background-color: black;
  color: white;
  border-radius: 15px;
  display: inline-block;
}

.about-list {
  background-color: black;
  color: white;
  width: 700px;
  border: 5px;
  padding: 20px;
  margin: 1px;
  border-radius: 15px;
  display: inline-block;
}

.thread {
  background-color: black;
  color: white;
  border: 5px;
  padding: 20px;
  margin: 1px;
  border-radius: 15px;
}

/*header styles*/
.header {
  font-family: "Archivo Black", sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 15.5px;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
  display: inline-block;
}

.page-header .page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

/*portrait*/
.profile_portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 100%;
}

/*social icon styles*/
.page_footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*introduction styles*/
.profile {
  max-width: 700px;
  margin: 0 auto;
}

/*box sizing*/
* {
  box-sizing: border-box;
}

/*projects styles*/
.check_projects {
  font-family: "Archivo Black";
  font-size: 16px;
  display: inline-block;
  margin-top: 5px;
  border-radius: 15px;
  padding: 5px 20px;
  background-color: black;
}

.check_projects:visited,
.check_projects:active {
  color: white;
}

.check_projects:hover,
.check_projects:focus {
  background-color: #ffd700;
  color: #000;
  text-decoration: none;
}

.see-git:visited,
.see-git:active {
  color: white;
}

.see-git:hover,
.see-git:focus {
  color: #ffd700;
}

/*grid styles*/
.grid-container {
  display: grid;
  text-align: center;
  border: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}
@media all and (max-width: 767px) {
  .grid-container {
    grid-template-columns: 100%;
  }
}

.grid-item {
  width: auto;
  background-color: black;
  color: white;
}

@supports (display: grid) {
  .grid-item {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 15px;
  }
  .grid-item {
    padding: 15px;
    margin: 0;
  }
}
@media all and (max-width: 500px) {
  .grid-item {
    grid-template-columns: 1fr;
  }
  h1 {
    font-size: 22px;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid-item {
    grid-template-columns: auto;
  }
}
@media all and (max-width: 750px) {
  .grid-item {
    grid-gap: 10px;
    margin: 10px;
    grid-template-columns: 1fr 1fr;
  }
  .grid-item:nth-child(2) {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
  .grid-item:nth-child(6) {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
  .grid-item:last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
  h1 {
    font-size: 22px;
  }
}
.button,
button {
  border: none;
  display: inline-block;
  font-family: "Archivo Black";
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: opacity 0.2s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
  background-color: #ffd700;
  color: #000;
}

button:visited,
button:active .button:active .button:visited {
  color: black;
  background-color: white;
}

.big-bird {
  animation: 5s bird-move infinite alternate linear;
}

@keyframes bird-move {
  from {
    transform: translate(0, 100px);
  }
  to {
    transform: translate(200px, 300px);
  }
}
.bird-top-right {
  animation: 5s bird-move2 infinite alternate linear;
}

.most-left {
  animation: 5s bird-move2 infinite alternate linear;
}

@keyframes bird-move2 {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}/*# sourceMappingURL=styles.css.map */